:root {
    --primary-color: #002E5D;
    --secondary-color: #0087a8;
    --hover-color: #002f5da6;
    --backgroud: #F8F8FF;
    --light-text: #fff;
    --red-background: #f2dede;
	--red-text: #a94442;
	--green-text: #3c763d;
	--green-background: #dff0d8;
}

* {
    box-sizing: border-box;
    margin: 0;
}
header {
    background: var(--primary-color);
    height: 66px;
}
header * {
    color: white;
  }
.nav-bar {
    padding-top: 8px;
    padding-left: 15px;
}
.header h1 {
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.nav-list ul {
    display: inline;
    text-align: right !important;
    list-style: none;
}
.nav-list li {
    /* padding-right: 20px; */
}
.nav-list a {
    color: rgb(81, 9, 9);
    text-decoration: none;
    cursor: pointer;
}
#item-one,
#item-two {
    border-right: 1px solid white;
}
#item-two,
#item-three {
    padding-left: 5px;
}
.below-nav {
    position:relative;
    color: white;
    background-color: rgba(2, 106, 0, 0.589);
    height: 120px;
}