:root {
    --primary-color: #848586;
    --secondary-color: #BAA898;
    --hover-color: #EEE0CB;
    --backgroud: #F8F8FF;
    --light-text: #fff;
    --red-background: #f2dede;
	--red-text: #a94442;
	--green-text: #3c763d;
	--green-background: #dff0d8;
    --border-radius:0.25rem;

    /* update */
    --primary:#848586;
    --secondary:#baa898;
    --border-color:#dee2e6;
    --max-width:1140px;
    --border-radius:0.25rem;
    --button-text:#fff;
    --button-focus:0 0 0 3px rgba(186, 168, 152, 0.25);
    --link-color:#907f71;
    --text-main:#363636;
    --text-bright:#000;
    --body-bg-color:#f9fafb;
    --footer-bg-color:#fff;
    --form-bg-color:#fff;
    --input-text-color:#000;
    --input-text-disabled:#7a7a7a;
    --input-placeholder-color:#c2c2c2;
    --input-border-color:#ccc;
    --input-background-color:#fff;
    --input-disabled:#f5f5f5;
    --input-focus:0 0 0 3px rgba(121, 82, 179, 0.25);
    --error:#dc3545;
    --success:#198754;
    --warning:#664d03;
    --info:#0c5460;
    --alert-error-bg:#f8d7da;
    --alert-warning-bg:#fff3cd;
    --alert-success-bg:#d4edda;
    --alert-info-bg:#d1ecf1
}
/* * {
    box-sizing: border-box;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Candal", serif;
    color: #5c5b5b;
    margin: 5px;
}
a {
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* NAV */
header {
    background: var(--primary-color);
    height: 66px;
}
header * {
    color: white;
  }
header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}
header .logo-text {
  margin: 9px;
  font-family: "Candal", serif;
}
header .logo-text span {
  color: var(--secondary-color);
}
header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
header ul li {
  float: left;
  position: relative;
}
header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  z-index: 88888;
}
header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a:hover {
  background: #d5d6d6;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: var(--secondary-color);
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover {
  color: #006669;
}
/* Below Nav */
.below-nav {
    background-color: var(--hover-color);
    height: 300px;
}

/* main - heading */
.main h1,h5 {
  color: white;
  text-align: center;
}
.main-heading {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content:center;
  background: var(--hover-color);
  height: 15em;
}
.main-heading-btn {
  margin-top: 30px;
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  color: rgb(220, 220, 220);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.08em;
  cursor: pointer;
}
.main-content {
  margin-left: 3em;
} */
/* form */


body {
	font-size: 120%;
	background: #F8F8FF;
}
.logreg_header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}